{% extends "base.html" %}

{% block content %}

<div class="w3-content " style="max-width:2000px;margin-top:46px;min-height: 400px;background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;background-image: url('static/images/bunk.jpg');">

  <!-- Automatic Slideshow Images -->
  <div class="w3-content " style="padding:10%;">

  <!-- Automatic Slideshow Images -->
<!--     <div class="w3-container w3-content w3-center w3-padding-64 " style="max-width:1200px" id="status">-->
    <div class="w3-black  w3-padding-large w3-round-large">
    <h2 class="w3-wide w3-center">注册</h2>
    <p class="w3-opacity w3-center" id="loc-list"><i>come on!</i></p><br>
    {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li class="alert alert-danger" style="color: red">
                        <strong>{{ message }}</strong>
                    </li>
                {% endfor %}
            </ul>
          {% endif %}
          {% endwith %}
     <div class="w3-container" >
          <form action="{{url_for('create_user')}}" method="POST">
        <p class="w3-left"><label><i class="fa fa-user"></i>新用户名:</label></p>
        <input class="w3-input w3-border" type="text" id="username" placeholder="username"  name="username" required>
         <p class="w3-left"><label><i class="fa fa-user"></i>新密码:</label></p>
        <input class="w3-input w3-border" type="password" id="password" placeholder="password" name="password" required>
        <p class="w3-left"><label><i class="fa fa-user"></i>确认密码:</label></p>
        <input class="w3-input w3-border" type="password" id="password_confirm" placeholder="password confirm"  name="password_twice" required>
         <button type="submit" class="w3-button w3-block w3-green w3-padding-16 w3-section w3-right" >Register <i class="fa fa-check"></i></button>
          </form>
              <p class="w3-right">Need <a href="https://baike.baidu.com/item/%E5%B8%AE%E5%8A%A9/30844?fr=aladdin" class="w3-text-blue">help?</a></p>
      </div>
     </div>
  </div>
<!-- End Page Content -->
</div>
{% endblock %}