<!DOCTYPE html>
<html lang="en">
<title>MiPi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="static/image/favicon.JPG"/>
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
{% block style %}{% endblock %}

</style>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="toggleFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/main_page" class="w3-bar-item w3-button w3-padding-large">MiPi</a>
      <a href="/Tools" class="w3-bar-item w3-button w3-padding-large w3-hide-small" >Tools</a>
      <a href="/storage_page" class="w3-bar-item w3-button w3-padding-large w3-hide-small">myDisk</a>
    <a class="w3-padding-large w3-hover-teal w3-hide-small w3-right" ><i class="fa fa-cog"></i></a>
    <a href="{{url_for('login_page')}}" class="w3-bar-item w3-button w3-padding-large w3-hover-teal  w3-right"  id="user_login" >Login</a>
  </div>
</div>

<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#MiPi" class="w3-bar-item w3-button w3-padding-large" onclick="toggleFunction()">MiPi</a>
  <a href="#Tools" class="w3-bar-item w3-button w3-padding-large" onclick="toggleFunction()">Tools</a>
  <a href="#myDisk" class="w3-bar-item w3-button w3-padding-large" onclick="toggleFunction()">myDisk</a>
  <a href="#setting" class="w3-bar-item w3-button w3-padding-large" onclick="toggleFunction()"><i class="fa fa-cog"></i></a>
</div>



{% block content %}{% endblock %}

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-weixin w3-hover-opacity" onclick="scroll_h()"></i>
  <a href="http://10.62.81.24" target="_blank"><i class="fa fa-gitlab w3-hover-opacity"></i></a>
  <i class="fa fa-weibo w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-skype w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="http://10.62.89.250:8090/tuhai" target="_blank">yezhaoyu</a></p>
</footer>

<script>
// Modal Image Gallery
function login() {
    window.open("https://www.baidu.com")
}
// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
